.media {
    background: #fff;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    border: none;
    cursor: pointer;
}

.media img {
    width: 50%;
    margin: 0;
    height: 136px;
}

.media-body {
    border: none;
    height: 136px;
}

.media .price {
    float: left;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #4765AB;
}

.media .price small {
    display: block;
    font-size: 17px;
    color: #232323;
}

.media .stats {
    float: left;
    width: 100%;
}

.media .stats span {
    float: left;
    margin-right: 10px;
    font-size: 15px;
}

.media .stats span i {
    margin-right: 7px;
    color: #4765AB;
}

.media .address {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #888;
}

.media .fav-box {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 4px;
    color: #E74C3C;
}

.map-box {
    background-color: #A3CCFF;
}

.modal {
    padding-right: 0 !important;
}

.modal-open {
    padding-right: 0 !important;
    overflow: visible !important;
}