.app-nav {
    background-color: #fff;
    padding: .2rem 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .app--top-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: .5rem;
        text-transform: capitalize;

        .customer-support {
            display: flex;
            justify-content: space-between;
            font-size: .8rem;

            div {
                padding-left: .8rem;
            }
            div:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .customer-support div:first-child {
            padding-left: 0;
        }
        .customer-cookies {
            display: flex;
            justify-content: space-between;
            font-size: .8rem;

            div {
                padding-left: .8rem;

                a {
                    color: #000;
                }
            }
            div:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .app--tool-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: .5rem;

        .app--brand {
            font-style: normal;
            font-weight: bolder;
            font-size: 17px;
            box-sizing: border-box;

            a {
                color: #000;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}