.skeleton {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.4em;

    .skeleton-btn {
        cursor: default;
        padding: 0 5px;
        font-size: 20px;
        background-color: transparent;
        color: #464141de;
        font-weight: 100;
        width: inherit;
        height: inherit;
        min-width: 6rem;
        min-height: .3rem;
        text-align: initial;
        outline: 0;
        border: none;
        animation: skeleton_move .5s linear infinite;
    }
}

@keyframes skeleton_move {
    0% {
        animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    100% {
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    from {
        top: 0em;
        background-color: #b3b9b038;
    }
    to {
        bottom: 0.01em;
    }
}